body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/Image@1x.png');
    background-size: contain;
    color: white;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.img_git {
    height: 3em;
    border-radius: 3em;
}

.github {
    padding-top: 10em;
    float: left;
    display: block inline;
}

.github img {
    vertical-align: middle;
}

.design_1 {
    position: absolute;
    top: 0px;
    left: 1px;
}

.design_2 {
    position: absolute;
    top: 120px;
    left: 279px;
}

.design_3 {
    position: absolute;
    top: 20;
    left: -1px;
}

.container {}