body {
    margin: 0;
    padding: 0;
    background-image: url('../Image@1x.png');
    background-size: contain;
    color: white;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.img_git {
    height: 3em;
    border-radius: 3em;
}

.github {
    padding-top: 10em;
    float: left;
    display: block inline;
}

.github img {
    vertical-align: middle;
}


/* .container {} */